NUXT_PUBLIC_API_BASE=http://localhost:8000/api
NUXT_PUBLIC_APP_NAME=Storefront PWA
NUXT_PUBLIC_APP_URL=http://localhost:3000
NUXT_PUBLIC_REVERB_KEY=local
NUXT_PUBLIC_REVERB_HOST=localhost
NUXT_PUBLIC_REVERB_PORT=8080
